.BrowsePage {
  padding: 0 2em;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}
.BrowsePage h2 {
  color: #fff;
  font-size: 1.5em;
}

.BrowseNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.BrowseNavigation h2 {
  color: #72db73;
}
.BrowseNavigation img {
  width: 2.5em;
  height: 2.5em;
  object-fit: contain;
  border-radius: 100%;
}

.Caraousel {
  height: 25vh;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.Caraousel::-webkit-scrollbar {
  display: none;
}
.Caraousel img {
  height: 100%;

  margin-right: 1em;
}
.CategoryHeading {
  opacity: 0.7;
  margin: 1em 0;
}
