.TimerApp {
  padding: 2em;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #1e2343;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.TimerDisplay {
  position: relative;
  display: grid;
  place-content: center;
  border-radius: 100%;

  width: 8em;
  height: 8em;
  background: #191e39;
  box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.61) inset,
    -3px -7.000000476837158px 16px 0px rgba(95, 88, 88, 0.23);
}
.TimerDisplay img {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.TimerDisplay p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 800;
  transform: translate(-50%, -50%);
}

.TimerData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}
.TimerData button {
  width: 50%;
  display: grid;
  place-content: center;
  border-radius: 15px;
  font-size: 1em;
  padding: 0.5em;
  margin: 0.5em;
  background: #ff6a6a;
  color: #fff;
  cursor: pointer;
}
.TimerInput {
  display: flex;
  width: 70%;
  height: 80%;
  align-items: space-evenly;
  justify-content: space-evenly;
}
.TimerInput label {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0;
  opacity: 0.7;
}
.TimerInput input {
  outline: none;
  border: none;
  width: 50%;
  margin: 0.1em auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #fff;

  font-size: 2.5em;
  font-weight: lighter !important;
}

.TimerInput img {
  margin: auto;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
