.dashboard {
  overflow: hidden;
  position: relative;

  max-height: 50%;
  display: flex;

  padding: 2%;
  background: #5746ea;
  border-radius: 20px;
}

.userCategories {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  overflow: auto;
}
.category {
  width: 80%;
  height: 2.5em;
  display: grid;
  place-content: center;
  padding: 0.5em;
  background: #9f94ff;
  border-radius: 20px;
  font-size: 1.2em;
}
.dashboardInfo {
  margin-left: 2em;
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.userMetadata {
  flex: 1;
}
.userMetadata p {
  font-size: 1.5em;
  font-weight: 400;
}
.userMetadata h2 {
  font-size: 2.5em;
  font-weight: 600;
}
.dashboard img {
  height: 90%;
  margin: auto;
}
